{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <h2>{% trans "Profile" %}</h2>
    <p>
        <a href="{# url 'registration:change_password' #}" class="btn btn-default">{% trans 'Change your password' %}</a>
        <a href="{# url 'registration:request_email_change' #}" class="btn btn-default">{% trans 'Change your email address' %}</a>
    </p>


    <h3>{% trans "Your address book" %}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-6">{% trans "Addressee" %}</th>
                <th class="col-sm-2">{% trans "Billing" %}</th>
                <th class="col-sm-2">{% trans "Shipping" %}</th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <th class="col-sm-6">
                    {{ address }}
                </th>
                <td class="col-sm-2">
                    {% if user.default_billing_address == address %}
                    <span class="label label-default">{% trans "Default" %}</span>
                    {% else %}
                    <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="billing" %}" class="form-inline form-horizontal">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">{% trans "Make default" %}</button>
                    </form>
                    {% endif %}
                </td>
                <td class="col-sm-2">
                    {% if user.default_shipping_address == address %}
                    <span class="label label-default">{% trans "Default" %}</span>
                    {% else %}
                    <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="shipping" %}" class="form-inline form-horizontal">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">{% trans "Make default" %}</button>
                    </form>
                    {% endif %}
                </td>
                <td class="col-sm-2">
                    <a href="{% url 'profile:address-edit' pk=address.pk %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i> {% trans "Edit" %}</a>
                    <a href="{% url 'profile:address-delete' pk=address.pk %}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{% url 'profile:address-create' %}" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> {% trans "Add new address" %}</a>
    </div>


{% endblock content %}

